body{
    background-color:#000;
}
#black_container{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:10001;
    display:none;
}

#content{
    position:fixed;
    left:0px;
    top:0px;
    width:798px;
    height:478;
    background-color:#fff;
}
#activity_bar{
    height:48px;
    padding:10px 6px;
    border-bottom:2px solid #000;
}
#activity_bar *{
    display:inline-block;
    vertical-align:middle;
}
#activity_bar div{
    margin-left:30%;
    font-weight:bold;
    font-size:30px;
}
#menu_toggler{
    width:48px;
    height:48px;
}
#menu_toggler:hover{
    cursor:hand;
    cursor:pointer;
}
#navigation{
    position:absolute;
    left:-201px;
    top:69px;
    width:200px;
    height:409px;                           /* Total height - activity_bar height */
    z-index:100;
    background-color:#fff;
    border-right:1px solid #000;
    
    transition:left 0.7s ease;
}
#navigation ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
    text-align:left;
}
#navigation ul li a{
    display:inline-block;
    width:160px;
    padding:14px 20px;
    text-decoration:none;
    font-size:20px;
    color:#9b0676;
    border-bottom:1px dotted #9b0676;
}
#page_viewer{
    width:100%;
    height:408px;                           /* Total height - activity_bar height */
}